:root {
	--color-primary: #2ea3f2;
	--color-primary-dark: #001544;
	--font-primary: "Open Sans", Arial, sans-serif;
	--font-secondary: "Champagne & Limousines", Helvetica, Arial, Lucida, sans-serif;
	--font-tertiary: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
	--font-tertiary-2: "Bebas Neue", Helvetica, Arial, Lucida, sans-serif;
	--color-white: rgb(255, 255, 255);
	--color-black: rgb(0, 0, 0);
	--animation-from-behind: 0.8s ease-out MoveInFromBehind 0.5s backwards;
}
